body {
	margin:0;padding:0;
	text-align: center;
	font: 1em Verdana, Arial, Sans-Serif;
	color: #fff;
}

a img { border: none; }
#header { background: url("img/headerBG.jpg") #64b0ff 0 0 repeat-x; height: 425px; width: 100%; text-align: center; }
	#header .inner { width: 400px; margin: 0 auto; padding-top: 25px; color: #ff9c00; font-size: 0.75em; }
		#header .inner p { font-weight: bold; }
		#header .inner a { color: #FFF; text-decoration: none; font-weight: normal;  }
		#header .inner a:hover { text-decoration: underline;  }
.arr {
	display: block; height: 97px; width: 100px;
	background: url("img/Arr.png") 0 0 no-repeat;
	margin: 10px auto; text-align: center;
}
a.arr:hover { background-position: -3px -96px; }

#color1 { background: url("img/grassTop.jpg") #88d800 0 0 repeat-x; width: 100%; color: #005200; }
	#color1 .inner { width: 600px; margin: 0 auto; padding: 75px 10px 10px 10px; text-align: left; }
		#color1	.inner a { font-weight: bold; color: #005200; text-decoration: none; }

#mission {  margin:0;padding:0 0 15px 0; letter-spacing: -1px; text-align: left; font-size: 0.85em; }

.rightColumn { float: right; font-size: 0.75em; }
	.rightColumn ul { margin:0;padding:0;}
		.rightColumn ul li { list-style-type: none; padding-left: 15px; margin-top: 10px; }

.leftColumn { text-transform: uppercase; font-size: 0.75em; width: 400px;  }
	.leftColumn ol { font: 1.5em Century Gothic, Verdana, Arial; text-transform: none; color: #885300; }

#color2 { background: url("img/groundTop.jpg") #6b6d00 0 0 repeat-x; width: 100%; font-size: 0.7em;}
	#color2 .inner { width: 900px; margin: 0 auto; padding: 75px 10px 10px 10px; text-align: left; text-transform: uppercase; }
		#color2	.inner p { margin:0;padding:0; }

#color2 a { color: #fff; text-decoration: none; }
#color2 a:hover { text-decoration: underline; }

#footerNav { margin: 0 0 0 30px; padding: 0; list-style-type: none; left: auto; }
	#footerNav li {
		margin: 0 30px 0 0;
		padding: 0;
		list-style-type: none;
		float: left;
		display: inline;
		position: relative;
	}

	#footerNav li ul { margin: 1.25em 0 2em 0; position: relative; left: -40px;}
	#footerNav ul li {
		float: none;
		padding: 0 0 1.25em 0;
		display: block;
		margin: 0;
	}

#footerContact {
	float: right;
	margin: 0 55px 0 0; padding: 0;
	list-style-type: none;
}

	#footerContact li { padding: 0 0 1.25em 0; }

.someItem { margin-bottom: 15px; }
	.someItem h3, .someItem p{ margin: 0; padding: 0; }
	.someItem img { height: 100px; width: 100px; float: left; margin-right: 10px; border: 1px solid #005200;}
